:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin : 2px;
}


button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.game-computer{
  background-color: rgb(85, 83, 72);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(255, 255, 255, 0.26);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
}


.game-screen {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #111; 
  color: #0f0;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.2), inset 0 0 10px rgba(0,255,0,0.3);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  text-align:left;
  font-size: 1.1rem;
}

.game-screen p{
  color: rgb(0, 255, 0);
  font-weight: bold;
  margin-top:-5px;
  margin-bottom: 2px;
  margin-left: 0px;
  user-select: none;
  outline: none;
}

.history p{
  color: rgb(0, 255, 0);
  font-weight: bold;
}

.game-keyboard {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(4, 60px);
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  user-select: none;
  outline: none;

  width: max-content;
  padding: 10px;
  background-color: #111;
  border-radius: 20px;
}

.game-keyboard button {
  background-color: #333;
  color: #fff;
  border: 2px solid #555;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-keyboard button:hover {
  background-color: #444;
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.game-keyboard button:active {
  background-color: #555;
  transform: translateY(0px);
  box-shadow: none;
}

.interface.validate{
  color: #4CAF50;
}

.interface.delete{
  color: #fbff00;
}

p.ascii-art {
  font-family: 'Courier New', Courier, monospace;
  color: #0f0;
  line-height: 90%;
  margin-bottom: 20px;
  user-select: none;
}